<div class="d-flex align-items-center mb-3">
    <img class="left-hand-side-avatar me-4" src="../../../../assets/images/record/avtar_temp.webp" alt="avatar">
    <p class="personal-name m-0">Võ Quang Đăng Khoa</p>
</div>

<div class="d-flex align-items-center mb-2">
    <i width="50px" style="font-size: 18px;" class="fa-solid fa-user me-4"></i>
    <a class="text-decoration-none text-dark">Thông tin cá nhân</a>
</div>

<a class="text-decoration-none text-dark d-block sub-nav-item mb-2">Hồ sơ</a>
<a class="text-decoration-none text-dark d-block sub-nav-item mb-2">Địa chỉ</a>
<a class="text-decoration-none text-dark d-block sub-nav-item mb-3">Đổi mật khẩu</a>

<div class="d-flex align-items-center">
    <i width="50px" style="font-size: 18px;" class="fa-solid fa-receipt me-4"></i>
    <a class="text-decoration-none text-dark">Đơn hàng của tôi</a>
</div>
