<div class="d-flex align-items-center mb-3">
    <img class="left-hand-side-avatar me-4" [src]="avatarUrl || '../../../../assets/images/record/avatar.png'" alt="avatar">
    <p class="personal-name m-0">{{fullname}}</p>
</div>

<div class="d-flex align-items-center mb-2">
    <i width="50px" style="font-size: 18px;" class="fa-solid fa-user me-4"></i>
    <a class="text-decoration-none text-dark">Thông tin cá nhân</a>
</div>

<a class="text-decoration-none text-dark d-block sub-nav-item mb-2" [routerLink]="['/record']">Hồ sơ</a>
<a class="text-decoration-none text-dark d-block sub-nav-item mb-2" [routerLink]="['/address-book']">Sổ địa chỉ</a>
<a class="text-decoration-none text-dark d-block sub-nav-item mb-3" [routerLink]="['/change-password']">Đổi mật khẩu</a>

<div class="d-flex align-items-center">
    <i width="50px" style="font-size: 18px;" class="fa-solid fa-receipt me-4"></i>
    <a class="text-decoration-none text-dark" [routerLink]="['/my-orders']">Đơn hàng của tôi</a>
</div>
