<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Phiếu nhập</h1>
            <div class="mb-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-dark" (click)="showDialog('add', null)">Thêm phiếu nhập</button>
            </div>
            <div class="card mb-4">
                <p-toast></p-toast>
                <p-confirmDialog />
                <div class="card-body">
                    <p-table #dt editMode="row" [value]="goodsReceipts" dataKey="goo_ID" [paginator]="true"
                        [rows]="10" [globalFilterFields]="['goo_ID', 'supplier_ID', 'datetime', 'total']"
                        [responsiveLayout]="'scroll'">
                        <ng-template pTemplate="caption">
                            <div class="d-flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" style="width: 200px;"
                                        (input)="handleInput($event, dt)" placeholder="Tìm kiếm" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:15%">Mã phiếu nhập</th>
                                <th style="width:20%">Nhà cung cấp</th>
                                <th style="width:20%">Ngày nhập</th>
                                <th style="width:15%">Tổng tiền</th>
                                <th style="width:15%"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-goodsReceipt let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="goodsReceipt">
                                <td>{{ goodsReceipt.goo_ID }}</td>
                                <td>
                                    {{ goodsReceipt.supplier?.supplierName }}
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="output">
                                            {{ goodsReceipt.datetime | date:'yyyy-MM-dd' }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="output">
                                            {{ goodsReceipt.total | currency:'VND' }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button 
                                            pButton 
                                            pRipple 
                                            type="button"
                                            icon="pi pi-pencil" 
                                            (click)="editReceipt(goodsReceipt)"
                                            class="p-button-rounded p-button-text">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>

<p-dialog header="{{ DialogTitle }} phiếu nhập" [modal]="true" [(visible)]="visible" [style]="{ width: '55rem' }"
    styleClass="p-fluid">
    <div class="d-flex justify-content-between">
        <div>
            <p>Mã phiếu nhập:
                <input type="text" pInputText id="id" [(ngModel)]="selectedGoodsReceipt.goo_ID" disabled>
            </p>
            <p>Ngày đặt hàng: 
                <input 
                type="date" 
                class="form-control"
                [ngModel]="selectedGoodsReceipt.datetime | date:'yyyy-MM-dd'" 
                (ngModelChange)="selectedGoodsReceipt.datetime = $event">
            </p>
            <p>Nhà cung cấp:
                <p-dropdown [(ngModel)]="selectedGoodsReceipt.supplier_ID" [options]="suppliers"
                    optionValue="supplier_ID" optionLabel="supplierName">
                </p-dropdown>
            </p>
            <p>Tổng tiền:
                <input 
                    type="text" 
                    pInputText 
                    id="total" 
                    [value]="selectedGoodsReceipt.total | currency:'VND'" 
                    disabled
                >
            </p>
        </div>
        <div>
            <p-autoComplete 
                [(ngModel)]="selectedProduct" 
                [suggestions]="filteredProducts"
                (completeMethod)="filterCountry($event)" 
                (onSelect)="addProductToSelected($event)" 
                placeholder="Tìm kiếm sản phẩm"
                optionLabel="product.name">
                <ng-template let-productVar pTemplate="item">
                    <div class="d-flex align-items-center gap-2">
                        <img 
                            [src]="productVar.pic"
                            style="width: 40px" />
                        <div>
                            <div>{{ productVar.product.name }}</div>
                            <div>
                                {{ productVar.size.name }} - {{ productVar.color.name }}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of selectedGoodsReceipt?.detailGoodsReceipts">
                <td>{{ detail.product_ID }}</td>
                <td class=" text-truncate" style="max-width: 270px;">{{ detail.productVariation?.product?.name }} ({{detail.productVariation?.color?.name}} - {{detail.productVariation?.size?.name}})</td>
                <td>{{ detail.unit_Price | currency:'VND'  }}</td>
                <td *ngIf="DialogTitle === 'Thêm'">
                    <p-inputNumber  
                        [(ngModel)]="detail.quantity" 
                        (ngModelChange)="updateTotals()" 
                        [min]="1"
                    />
                </td>
                <td *ngIf="DialogTitle !== 'Thêm'">
                    {{ detail.quantity }}
                </td>
                <td>{{ (detail.quantity ?? 0) * (detail.unit_Price ?? 0) | currency:'VND' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end gap-2 mt-4">
        <p-button *ngIf="DialogTitle === 'Thêm'" label="Lưu" (onClick)="saveGoodsReceipt()" />
        <p-button *ngIf="DialogTitle !== 'Thêm'" label="Đóng" severity="secondary" (onClick)="visible = false" />
    </div>
</p-dialog>