.header {
    height: 50px;
}

.record-container {
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.divided-section {
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-left: 20px;
}

.record-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.record-notice {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.divided-section-top {
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.right-hand-side-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.format-pic-title {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

/* DT */
@media (max-width: 767px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px){
    
}

/* DT */
@media (min-width: 993px) {
    .personal-info-container {
        width: 80%;
    }
}