.personal-info-container {
    width: 95% !important;
}

.record-container {
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.divided-section {
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-left: 20px;
}

.record-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.divided-section-top {
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.right-hand-side-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-option {
    border: none;
    background-color: #212529;
}

.order-title {
    font-weight: 500;
}

.btn-order-action {
    background-color: #fff;
    border: none;
}

.btn-order-action.detail {
    color: #184AFA;
}

.btn-order-action.cancel {
    color: #F03B13;
}

.scrollable-order {
    max-height: 480px; /* Đặt chiều cao tối đa cho div */
    overflow-y: auto;  /* Kích hoạt thanh cuộn dọc */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang nếu không cần thiết */
    padding-right: 15px; /* Để tránh nội dung bị ẩn sau thanh cuộn */
    background-color: #fff; /* Tùy chọn: Màu nền cho div */
}

.scrollable-order-details {
    max-height: 380px; /* Đặt chiều cao tối đa cho div */
    overflow-y: auto;  /* Kích hoạt thanh cuộn dọc */
    overflow-x: auto; /* Kích hoạt thanh cuộn ngang */
    padding-right: 15px; /* Để tránh nội dung bị ẩn sau thanh cuộn */
    background-color: #fff; /* Tùy chọn: Màu nền cho div */
}

.order-details-common-infor2 .card {
    flex-basis: 40% !important; /* Mỗi thẻ div chiếm 50% chiều rộng */
    min-width: 0 !important; /* Ngăn chặn mở rộng quá mức nếu nội dung nhiều */
}

.order-details-common-infor1 p, .order-details-common-infor2 p{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8) !important;
}

/* DT */
@media (max-width: 767px) {
    .record-container {
        box-shadow: none;
        padding: 0 !important;
    }

    .btn-option {
        margin-left: 20px;
    }

    .offfcanvas-option {
        padding: 10px;
    }

    .scrollable-order {
        max-height: 390px; /* Đặt chiều cao tối đa cho div */
    }

    .btn-option {
        margin: 0 !important;
        margin-bottom: 8px !important;
    }

    .filter-order-status {
        margin: 8px 0;
    }

    .detail-order-container .card {
        width: 500px;
    }

    .order-details-common-infor2 {
        flex-direction: column;
    }

    .order-details-common-infor2 div {
        margin: 0 !important;
    }

    .order-details-common-infor2 div.border-bottom {
        height: 1px !important;
        margin-top: 0 !important;
    }
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px){
    .record-container {
        margin: 0 20px;
    }

    .btn-option {
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .offfcanvas-option {
        padding: 10px;
    }

    .filter-order-status {
        margin-top: 6px;
        width: 120px; /* Điều chỉnh độ rộng tùy ý */
        font-size: 14px; /* Điều chỉnh cỡ chữ tùy ý */
    }

    .scrollable-order {
        max-height: 600px; /* Đặt chiều cao tối đa cho div */
    }

    .modal-dialog.custom-width {
        max-width: 80%;
        width: auto;
    }

    .order-details-common-infor2 {
        flex-direction: column;
    }

    .order-details-common-infor2 div {
        margin: 0 !important;
    }

    .order-details-common-infor2 div.border-bottom {
        height: 1px !important;
        margin-top: 0 !important;
    }
}

/* DT */
@media (min-width: 993px) {
    .personal-info-container {
        width: 80%;
        margin-top: 36px !important;
    }

    .modal-dialog.custom-width {
        max-width: 65%;
        width: auto;
    }
}