<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tài khoản</h1>
            <div class="mb-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-success" (click)="handleAddAction()">Thêm tài khoản</button>
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>