<p-toast />
<app-header />
<section class="bg-light">
  <div class="container pb-5" style="margin-top: 40px !important">
    <div class="row">
      <div class="col-lg-7 mt-5">
        <app-image-slider [images]="variationList"></app-image-slider>
      </div>
      <!-- col end -->
      <div class="col-lg-5 mt-5">
        <div class="card">
          <div class="card-body">
            <div>
              <h1 class="h2">{{ product?.name }}</h1>
              <button
                type="button"
                class="btn btn-primary btn-sm mb-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalFullscreen"
                fdprocessedid="8he3e"
              >
                Thử áo online (thử nghiệm)
              </button>

              <div
                class="modal fade"
                id="exampleModalFullscreen"
                tabindex="-1"
                aria-labelledby="exampleModalFullscreenLabel"
                style="display: none"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-4"
                        id="exampleModalFullscreenLabel"
                      >
                        Thử áo online (thử nghiệm)
                      </h1>
                    </div>
                    <div
                      class="modal-body d-flex flex-wrap justify-content-evenly"
                    >
                      <!-- Phần 1: Chọn và hiển thị ảnh người dùng tải lên -->
                      <div
                        class="col-12 col-md-4 d-flex align-items-center justify-content-center col-avatar border-section"
                      >
                        <div class="d-flex align-items-center flex-column">
                          <!-- Nút chọn ảnh -->
                          <label
                            for="choose-pic"
                            class="border p-1 mt-3 mb-2 rounded-2"
                            style="cursor: pointer"
                            >Chọn ảnh selfie của bạn</label
                          >
                          <input
                            type="file"
                            name="choose-pic"
                            id="choose-pic"
                            hidden
                            (change)="onFileSelected($event)"
                          />

                          <p class="format-pic-title">
                            Ảnh càng đơn giản - "thử áo" càng nhanh
                          </p>
                          <img
                            *ngIf="uploadedImage"
                            [src]="uploadedImage"
                            alt="Uploaded Image"
                            style="max-width: 200px; margin-top: 10px"
                          />

                          <button
                            type="button"
                            class="btn btn-primary btn-sm mt-3"
                            (click)="uploadImageToCloud()"
                            [hidden]="
                              !uploadedImage ||
                              (!isLoading && responseImageFromCloudinary) ||
                              isLoading
                            "
                          >
                            Tải lên
                          </button>
                          <p *ngIf="isLoading">Đang tải lên...</p>
                          <p *ngIf="!isLoading && responseImageFromCloudinary">
                            Đã tải lên ✔
                          </p>
                        </div>
                      </div>

                      <!-- Phần giữa: Chọn ảnh trong this.variationList và hiển thị ảnh người dùng chọn -->
                      <div
                        class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center border-section"
                      >
                        <h2>Chọn áo cần thử</h2>
                        <div class="image-selection d-flex flex-wrap">
                          <div
                            *ngFor="let variation of variationList"
                            class="image-option m-2"
                            (click)="onImageSelect(variation.value)"
                          >
                            <img
                              [src]="variation.value"
                              alt="Product Variation"
                              style="max-width: 60px; cursor: pointer"
                            />
                          </div>
                        </div>
                        <div *ngIf="selectedImage" class="selected-image mt-3">
                          <img
                            [src]="selectedImage"
                            alt="Selected Image"
                            style="max-width: 200px"
                          />
                        </div>
                      </div>

                      <!-- Phần cuối: Để trống cho code sau -->
                      <div
                        class="col-12 col-md-4 d-flex flex-column border-section align-items-center justify-content-center"
                      >
                        <p *ngIf="isLoadingStart && !isLoadingRender">
                          Đang khởi tạo... <span>{{ timerValue }} giây</span>
                        </p>
                        <p *ngIf="isLoadingStart && isLoadingRender">
                          Khởi tạo thành công ✔
                        </p>
                        <p *ngIf="isLoadingStart && isLoadingRender">
                          Đang tiến hành thay áo...
                          <span>{{ timerValue }} giây</span>
                        </p>
                        <p *ngIf="isLoadingError">
                          Đã có lỗi xảy ra. Vui lòng thử lại sau! 😢
                        </p>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm mb-2"
                          (click)="handleTryOnClothes()"
                          [hidden]="
                            (isLoadingStart && isLoadingRender) || outputImage
                          "
                          [disabled]="
                            isLoadingStart ||
                            !uploadedImage ||
                            !selectedImage ||
                            !responseImageFromCloudinary
                          "
                        >
                          Mặc áo (~ 45 giây)
                        </button>
                        <div>
                          <img
                            src="{{ outputImage }}"
                            alt=""
                            style="max-width: 200px"
                          />
                        </div>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm mt-2"
                          (click)="downloadImage()"
                          [disabled]="outputImage === null"
                        >
                          Tải ảnh xuống
                        </button>
                      </div>

                      <div class="col-12 col-md-12 d-flex flex-column">
                        <strong>HƯỚNG DẪN SỬ DỤNG:</strong>
                        <strong>Bước 1:</strong>
                        <p>
                          Bạn hãy chọn ảnh selfie của mình bằng cách nhấn vào
                          nút "Chọn ảnh selfie của bạn" và chọn ảnh từ máy tính
                          của bạn. Sau đó nhấn nút "Tải lên". Trang web hiển thị
                          "Đã tải lên ✔" là đã tải ảnh thành công.
                        </p>
                        <strong
                          >Lưu ý: ảnh càng đơn giản, càng rõ ràng, dung lượng
                          ảnh càng nhẹ thì tốc độ "Mặc áo" càng nhanh!</strong
                        >
                        <img
                          src="../../../../assets/images/hdsdtryon.png"
                          alt=""
                        />
                        <strong>Bước 2:</strong>
                        <p>
                          Hãy chọn 1 trong những chiếc áo mà bạn muốn mặc thử.
                        </p>
                        <strong>Bước 3:</strong>
                        <p>
                          Nhấn nút "Mặc áo (~ 45 giây)" để xem kết quả. Trong
                          khoảng thời gian từ 30-45 giây, trang web sẽ hiển thị
                          ảnh của bạn mặc chiếc áo bạn đã chọn.
                        </p>
                        <strong>Bước 4:</strong>
                        <p>
                          Nhấn nút <strong>"Tải ảnh xuống"</strong> để lưu ảnh
                          về máy tính của bạn. Bởi vì chức năng "Thử áo online"
                          đang trong giai đoạn thử nghiệm nên
                          <strong>chưa hỗ trợ </strong>lưu trữ ảnh đã tạo của
                          khách hàng.
                        </p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        id="exitButton"
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        (click)="resetData()"
                        [hidden]="
                          (uploadedImage && selectedImage) ||
                          uploadedImage ||
                          selectedImage
                        "
                      >
                        Thoát
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="checkStatusExit()"
                        [hidden]="!uploadedImage && !selectedImage"
                      >
                        Đóng
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p>Thương hiệu: {{ product?.brand?.name }}</p>
            <p>Xuất xứ: {{ product?.nation?.name }}</p>
            <span class="d-flex" *ngIf="getVariationBySize(selectedSizeId)">
              Giá bán:
              <p
                class="ms-2 me-2"
                style="color: rgb(226, 45, 0); font-weight: 700; margin: 0"
              >
                {{
                  (getVariationBySize(selectedSizeId)?.price || 0) -
                    ((getVariationBySize(selectedSizeId)?.price || 0) *
                      (getVariationBySize(selectedSizeId)?.discount || 0)) /
                      100 | currency : "VND" : "symbol"
                }}
              </p>
              <p
                class="ms-2 me-2"
                style="text-decoration: line-through; margin: 0"
                *ngIf="getVariationBySize(selectedSizeId)?.discount !== 0"
              >
                {{ getVariationBySize(selectedSizeId)?.price }}
                <span class="badge bg-danger">
                  -{{ getVariationBySize(selectedSizeId)?.discount || 0 }}%
                </span>
              </p>
            </span>

            <span class="d-flex" *ngIf="!getVariationBySize(selectedSizeId)">
              Giá bán:
              <p
                class="ms-2 me-2"
                style="color: rgb(226, 45, 0); font-weight: 700; margin: 0"
              >
                {{
                  (product?.productVariations?.[0]?.price || 0) -
                    ((product?.productVariations?.[0]?.price || 0) *
                      (product?.productVariations?.[0]?.discount || 0)) /
                      100 | currency : "VND" : "symbol"
                }}
              </p>
              <p
                class="ms-2 me-2"
                style="text-decoration: line-through; margin: 0"
                *ngIf="product?.productVariations?.[0]?.discount !== 0"
              >
                {{ product?.productVariations?.[0]?.price }}
                <span class="badge bg-danger">
                  -{{ product?.productVariations?.[0]?.discount || 0 }}%
                </span>
              </p>
            </span>
            <div class="d-flex mt-3" *ngIf="getVariationBySizeAndColor()">
              <p class="me-2">Còn lại:</p>
              <p
                style="color: green; font-weight: 700"
                *ngIf="getVariationBySizeAndColor()?.quantity !== 0"
              >
                {{ getVariationBySizeAndColor()?.quantity }}
              </p>
              <p
                style="color: brown; font-style: italic"
                *ngIf="getVariationBySizeAndColor()?.quantity === 0"
              >
                Hết hàng. Hãy thử chọn size khác hoặc màu khác!
              </p>
            </div>
            <div class="d-flex mt-3" *ngIf="!getVariationBySizeAndColor()">
              <p class="me-2">Còn lại:</p>
              <p
                style="color: green; font-weight: 700"
                *ngIf="product?.productVariations?.[0]?.quantity !== 0"
              >
                {{product?.productVariations?.[0]?.quantity}}
              </p>
              <p
                style="color: brown; font-style: italic"
                *ngIf="getVariationBySizeAndColor()?.quantity === 0"
              >
                Hãy chọn size khác hoặc màu sắc!
              </p>
            </div>
            <div class="d-flex flex-column">
              <p class="me-2">Kích thước:</p>
              <div class="ms-3" style="display: flex; flex-wrap: wrap">
                <div
                  class="form-check form-check-inline"
                  *ngFor="let size of getDistinctSizeNames(product)"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sizeRadioOptions"
                    id="inlineRadio{{ size.id }}"
                    value="{{ size.id }}"
                    [checked]="selectedSizeId === size.id"
                    (click)="onSizeChange($event)"
                    (change)="onSizeChange($event)"
                  />
                  <label
                    class="form-check-label"
                    for="inlineRadio{{ size.id }}"
                    >{{ size.value }}</label
                  >
                </div>
              </div>
            </div>
            <div class="d-flex flex-column mt-3 mb-2" style="width: 100%">
              <p class="mb-0 me-3">Màu sắc:</p>
              <div class="ms-3 d-flex" style="flex-wrap: wrap">
                <div
                  class="form-check form-check-inline"
                  *ngFor="let color of colorOptions"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="colorRadioOptions"
                    id="colorRadio{{ color.id }}"
                    value="{{ color.id }}"
                    [disabled]="color.disabled"
                    (change)="onColorChange($event)"
                  />
                  <label
                    class="form-check-label"
                    for="colorRadio{{ color.id }}"
                    >{{ color.value }}</label
                  >
                </div>
              </div>
            </div>

            <!-- test -->
            <div
              class="modal fade"
              id="exampleModalScrollable"
              tabindex="-1"
              aria-labelledby="exampleModalScrollableTitle"
              style="display: none"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                      Hướng dẫn chọn size
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <p>
                      Để lấy số đo của cơ thể chính xác, bạn có thể dùng thước
                      dây để đo các thông số sau đây:
                    </p>
                    <p>
                      1. Vùng ngực: Dùng thước dây bọc xung quanh ngực của bạn.
                    </p>
                    <p>
                      2. Vòng bụng: Dùng thước dây bọc xung quanh bụng và lấy
                      chu vi nhỏ nhất của bụng.
                    </p>
                    <p>
                      3. Vòng mông: Khép hai chân lại, lấy thước dây bọc xung
                      quanh vùng mông và lấy số đo chu vi lớn nhất của mông.
                    </p>
                    <p>
                      4. Chiều cao háng: Là chiều dài từ đáy quần đến gót chân.
                    </p>
                    <p>
                      5. Chiều cao cơ thể: Là chiều dài tính từ phần đầu đến gót
                      chân.
                    </p>
                    <h5>Bảng size áo</h5>
                    <img
                      src="../../../../assets/images/size_tutorial/size_ao.webp"
                      alt=""
                      width="500"
                      class="mt-2 mb-2"
                    />
                    <h5>Bảng size quần</h5>
                    <img
                      src="../../../../assets/images/size_tutorial/size_quan.webp"
                      alt=""
                      width="500"
                      class="mt-2 mb-2"
                    />
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-dark"
                      style="background-color: black"
                      data-bs-dismiss="modal"
                    >
                      Đóng
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-primary mt-3"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalScrollable"
              fdprocessedid="ppfwcs"
            >
              Hướng dẫn chọn size
            </button>
            <!-- test -->
            <div class="d-flex align-items-center pb-2 mb-2 mt-3">
              <!-- <button
                type="button"
                style="background-color: black"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-dark btn-add-to-cart"
                (click)="handleCartBtnClicked(product)"
              >
                Thêm vào giỏ hàng
              </button> -->
              <button
                *ngIf="
                  !getVariationBySizeAndColor() ||
                  getVariationBySizeAndColor()?.quantity === 0
                "
                type="button"
                style="background-color: black"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-dark btn-add-to-cart"
                (click)="
                  handleCartBtnClicked_v2(
                    product,
                    selectedSizeId,
                    selectedColorId
                  )
                "
                disabled
              >
                Thêm vào giỏ hàng
              </button>
              <button
                *ngIf="
                  getVariationBySizeAndColor() &&
                  getVariationBySizeAndColor()?.quantity !== 0
                "
                type="button"
                style="background-color: black"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-dark btn-add-to-cart"
                (click)="
                  handleCartBtnClicked_v2(
                    product,
                    selectedSizeId,
                    selectedColorId
                  )
                "
              >
                Thêm vào giỏ hàng
              </button>
              <button
                *ngIf="
                  !getVariationBySizeAndColor() ||
                  getVariationBySizeAndColor()?.quantity === 0
                "
                type="button"
                style="background-color: black"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-dark ms-3 btn-add-buy-now"
                disabled
              >
                Mua ngay
              </button>
              <button
                *ngIf="
                  getVariationBySizeAndColor() &&
                  getVariationBySizeAndColor()?.quantity !== 0
                "
                type="button"
                style="background-color: black"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-dark ms-3 btn-add-buy-now"
                (click)="
                  handleCartBtnClicked_v3(
                    product,
                    selectedSizeId,
                    selectedColorId
                  )
                "
              >
                Mua ngay
              </button>
            </div>

            <p>Mô tả:</p>
            <p>{{ product?.productVariations?.[0]?.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row text-left p-2 pb-3">
      <h4>Sản phẩm liên quan</h4>
    </div>
    <div class="row">
      <app-related-products class="col-lg" />
    </div>
  </div>
</section>

<app-footer />
