<div class="dropdown d-flex justify-content-end mb-3 mt-2">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Mặc định
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Mặc định</a></li>
        <li><a class="dropdown-item" href="#">Giá từ cao đến thấp</a></li>
        <li><a class="dropdown-item" href="#">Giá từ thấp đến cao</a></li>
    </ul>
</div>
