<!-- Toast sẽ hiển thị ở đây trong 1s, mặc định là top-right -->
<p-toast [life]="1000"></p-toast>
<div class="container-fuild">
    <div class="row">
        <div class="col-12">
            <a class="btn-close float-end m-2" [routerLink]="['/']"></a>
        </div>
        <div class="col-12 mb-5">
            <div class="sign-up-modal row m-auto">
                <div class="d-none d-lg-block col-lg-6 m-0 p-0">
                    <img class="image-man-korea h-100 w-100" src="../../../../assets/images/auth/anh_trai_han.jpg"
                        alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-4">
                    <form [formGroup]="sign_up_F" (submit)="register()">
                        <div class="row">
                            <div class="col-6">
                                <label for="name" class="form-label title-sign-up">Đăng ký</label>
                            </div>
                            <div class="col-6">
                                <a class="d-block float-end title-sign-in" [routerLink]="['/sign-in']">Đăng nhập</a>
                            </div>
                        </div>
                        <!-- Field: Name -->
                        <div class="mb-3 mt-2">
                            <label for="name" class="form-label">Họ tên</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                            <div *ngIf="sign_up_F['controls']['name'].dirty && sign_up_F['controls']['name'].errors">
                                <small *ngIf="sign_up_F['controls']['name'].errors['required']">Tên không được bỏ trống!</small>
                                <small *ngIf="sign_up_F['controls']['name'].errors['minlength']">Tên phải chứa tối thiểu 3 kí tự!</small>
                                <small *ngIf="sign_up_F['controls']['name'].errors['maxlength']">Tên chỉ chứa tối đa 50 kí tự!</small>
                            </div>
                        </div>

                        <!-- Field: Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                            <div *ngIf="sign_up_F['controls']['email'].dirty && sign_up_F['controls']['email'].errors">
                                <small *ngIf="sign_up_F['controls']['email'].errors['required']">Email không được bỏ trống!</small>
                                <small *ngIf="sign_up_F['controls']['email'].errors['email']">Email không đúng định dạng!</small>
                                <small *ngIf="sign_up_F.get('email')?.hasError('unique') && sign_up_F.get('email')?.touched">Email đã tồn tại!</small>
                            </div>
                        </div>

                        <!-- Field: Phone -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" formControlName="phoneNumber" onkeypress="if(event.key.length === 1 && !/[0-9]/.test(event.key)) event.preventDefault();">
                            <div *ngIf="sign_up_F['controls']['phoneNumber'].dirty && sign_up_F['controls']['phoneNumber'].errors">
                                <small *ngIf="sign_up_F['controls']['phoneNumber'].errors['required']">Số điện thoại không được bỏ trống!</small>
                                <small *ngIf="sign_up_F['controls']['phoneNumber'].errors['pattern']">Số điện thoại không đúng định dạng!</small>
                                <small *ngIf="sign_up_F.get('phoneNumber')?.hasError('unique') && sign_up_F.get('phoneNumber')?.touched">Số điện thoại đã được sử dụng, vui lòng nhập số điện thoại khác!</small>
                            </div>
                        </div>

                        <!-- Field: Birthday -->
                        <div class="mb-3 mt-3">
                            <label for="birthday" class="form-label">Ngày sinh</label>
                            <input type="date" class="form-control" id="birthday" formControlName="birthDate" [max]="today">
                        </div>

                        <!-- Field: Gender -->
                        <div class="mb-3 mt-3">
                            <label for="gender" class="form-label">Giới tính</label>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="man" name="gender"
                                            value="Nam" checked formControlName="gender">Nam
                                        <label class="form-check-label" for="man"></label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="woman" name="gender"
                                            value="Nữ" formControlName="gender">Nữ
                                        <label class="form-check-label" for="woman"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Field: Password -->
                        <div class="mb-3 mt-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <div class="password-container">
                                <input class="form-control" id="password"
                                    [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" (paste)="preventPaste($event)">
                                <a (click)="togglePasswordVisibility()" class="eye-icon-password">
                                    <p>{{PasswordVisible}}</p>
                                </a>
                            </div>
                            <div *ngIf="sign_up_F['controls']['password'].dirty && sign_up_F['controls']['password'].errors">
                                <small *ngIf="sign_up_F['controls']['password'].errors['required']">Mật khẩu không được bỏ trống!</small>
                                <small *ngIf="sign_up_F['controls']['password'].errors['minlength']">Mật khẩu phải chứa tối thiểu 8 kí tự!</small>
                                <small *ngIf="sign_up_F['controls']['password'].errors['maxlength']">Mật khẩu chỉ chứa tối đa 20 kí tự!</small>
                                <small *ngIf="sign_up_F['controls']['password'].errors['pattern']">Mật khẩu phải chứa chữ hoa, chữ thường, số và kí tự khác!</small>
                            </div>
                        </div>

                        <!-- Field: Password -->
                        <div class="mb-3 mt-3">
                            <label for="re_enter_password" class="form-label">Nhập lại mật khẩu</label>
                            <div class="password-container">
                                <input class="form-control" id="re_enter_password"
                                    [type]="isReInputPasswordVisible ? 'text' : 'password'" formControlName="re_password" (paste)="preventPaste($event)">
                                <a (click)="toggleReInputPasswordVisibility()" class="eye-icon-password">
                                    <p>{{ReInputPasswordVisible}}</p>
                                </a>
                            </div>
                            <div *ngIf="sign_up_F['controls']['re_password'].dirty && sign_up_F['controls']['re_password'].errors">
                                <small *ngIf="sign_up_F['controls']['re_password'].errors['required']">Trường này không được bỏ trống!</small>
                                <small *ngIf="sign_up_F['controls']['re_password'].errors['mustMatch']">Mật khẩu không khớp!</small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="sign_up_F.invalid || isLoading">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            <span *ngIf="!isLoading">Đăng ký</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>