<div class="container-fuild">
    <div class="row">
        <div class="col-12">
            <a class="btn-close float-end m-2"></a>
        </div>
        <div class="col-12 mb-5">
            <div class="sign-up-modal row m-auto">
                <div class="d-none d-lg-block col-lg-6 m-0 p-0">
                    <img class="image-man-korea h-100 w-100" src="../../../../assets/images/auth/anh_trai_han.jpg"
                        alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-4">
                    <form (ngSubmit)="register()">
                        <div class="row">
                            <div class="col-6">
                                <label for="name" class="form-label title-sign-up">Đăng ký</label>
                            </div>
                            <div class="col-6">
                                <a class="d-block float-end title-sign-in" [routerLink]="['/sign-in']">Đăng nhập</a>
                            </div>
                        </div>
                        <!-- Field: Name -->
                        <div class="mb-3 mt-2">
                            <label for="name" class="form-label">Họ tên</label>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="registrationRequestDto.name">
                        </div>

                        <!-- Field: Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="registrationRequestDto.email">
                        </div>

                        <!-- Field: Phone -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="registrationRequestDto.phoneNumber">
                        </div>

                        <!-- Field: Birthday -->
                        <div class="mb-3 mt-3">
                            <label for="birthday" class="form-label">Ngày sinh</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" value="2000-01-01" [(ngModel)]="registrationRequestDto.birthDateTemp">
                        </div>

                        <!-- Field: Gender -->
                        <div class="mb-3 mt-3">
                            <label for="gender" class="form-label">Giới tính</label>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="man" name="gender_radio"
                                            value="Nam" checked [(ngModel)]="registrationRequestDto.gender">Nam
                                        <label class="form-check-label" for="man"></label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="woman" name="gender_radio"
                                            value="Nữ" [(ngModel)]="registrationRequestDto.gender">Nữ
                                        <label class="form-check-label" for="woman"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Field: Password -->
                        <div class="mb-3 mt-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <div class="password-container">
                                <input class="form-control" id="password" name="password"
                                    [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="registrationRequestDto.password">
                                <a (click)="togglePasswordVisibility()" class="eye-icon-password">
                                    <p>{{PasswordVisible}}</p>
                                </a>
                            </div>
                        </div>

                        <!-- Field: Password -->
                        <div class="mb-3 mt-3">
                            <label for="re_enter_password" class="form-label">Nhập lại mật khẩu</label>
                            <div class="password-container">
                                <input class="form-control" id="re_enter_password" name="re_enter_password"
                                    [type]="isReInputPasswordVisible ? 'text' : 'password'">
                                <a (click)="toggleReInputPasswordVisibility()" class="eye-icon-password">
                                    <p>{{ReInputPasswordVisible}}</p>
                                </a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark w-100 mt-3">Đăng Ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>