<!-- <mat-toolbar>
    <mat-toolbar-row fxlayout="row">
        <span class="title">{{dialogData.action}} Category</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup] = "categoryForm">
        <mat-form-field>
            <mat-label>Tên danh mục</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="categoryForm.get('name').invalid && categoryForm.get('name').touched">
                Tên danh mục không được để trống.
            </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="submit" [disabled]="categoryForm.invalid" mat-raised-button color="primary">
        {{dialogAction}}
    </button>
</mat-dialog-actions> -->

<div class="container-fluid p-5">
    <div class="mb-3"><h3 class="text-center">Thêm danh mục</h3></div>
    <form>
        <div class="mb-3">
          <label for="name" class="form-label">Tên danh mục:</label>
          <input type="text" class="form-control" id="name" placeholder="Nhập tên" name="name">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Mô tả:</label>
          <textarea class="form-control" id="desc" placeholder="Nhập mô tả" name="desc" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-check-label me-2" for="active">Trạng thái:</label>  
            <input class="form-check-input" type="radio" name="active" id="visible"> Hoạt động
            <input class="form-check-input ms-2" type="radio" name="active" id="disable"> Ẩn
          </div>
        <button type="submit" class="btn btn-success w-100 mt-2">Xác nhận</button>
      </form>
</div>
