<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Sản phẩm</h1>
            <div class="mb-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-dark" (click)="handleAddAction()">Thêm sản phẩm</button>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <p-table #table [value]="products" dataKey="Pro_ID" [tableStyle]="{ 'min-width': '50rem' }" class="table table-striped table-bordered">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Biến thể</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-expanded="expanded">
                          <tr>
                            <td>{{ product.Pro_ID }}</td>
                            <td>{{ product.Pro_name }}</td>
                            <td>{{ product.Pro_status ? 'Hoạt động' : 'Ngừng bán' }}</td>
                            <td>
                              <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                              <!-- <button type="button" pButton icon="pi pi-chevron-down" (click)="table.toggleRow(product)">Xem</button> -->
                            </td>
                          </tr>
                        </ng-template>
                      
                        <ng-template pTemplate="rowexpansion" let-product>
                          <td colspan="4">
                            <div class="p-2">
                                <!-- Bảng hiển thị danh sách các biến thể sản phẩm -->
                                <p-table [value]="product.variations">
                                    <ng-template pTemplate="header">
                                      <tr>
                                        <th>Mã biến thể</th>
                                        <th>Màu sắc</th>
                                        <th>Kích thước</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Giảm giá</th>
                                        <th>Trạng thái</th>
                                      </tr>
                                    </ng-template>
                                    
                                    <ng-template pTemplate="body" let-variation>
                                      <tr>
                                        <td>{{ variation.ProV_ID }}</td>
                                        <td>{{ variation.Col_ID }}</td>
                                        <td>{{ variation.Siz_ID }}</td>
                                        <td>{{ variation.ProV_Price | currency: 'VND' }}</td>
                                        <td>{{ variation.ProV_Quantity }}</td>
                                        <td>{{ variation.ProV_Discount }}%</td>
                                        <td>{{ variation.ProV_Status ? 'Hoạt động' : 'Ngừng bán' }}</td>
                                      </tr>
                                    </ng-template>
                                  </p-table>
                            </div>
                          </td>
                        </ng-template>
                      </p-table>
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>