<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Đơn hàng</h1>
            <div class="mb-3 mt-4 d-flex align-items-center">
                <label for="date-from">Ngày Lọc</label>
                <input name="date-from" type="date" class="ms-3 me-3 w-auto form-control">
                <i class="fa-solid fa-arrow-right"></i>
                <input name="date-to" type="date" class="ms-3 me-3 w-auto form-control">
            </div>
            <div class="mb-3 d-flex align-items-center">
                <label for="province">Tỉnh (Thành)</label>
                <select id="order-province" name="province" class="ms-3 me-3 w-auto form-select">
                    <option disable value="">-- Chọn --</option>
                </select>

                <label for="">Quận (Huyện)</label>
                <select id="order-district" name="district" class="ms-3 me-3 w-auto form-select">
                    <option disable value="">-- Chọn --</option>
                </select>

                <label for="">Xã (Phường, Thị Trấn)</label>
                <select id="order-ward" name="ward" class="ms-3 me-3 w-auto form-select">
                    <option disable value="">-- Chọn --</option>
                </select>
            </div>
            <div class="mb-4 d-flex align-items-center">
                <label for="">Tình Trạng</label>

                <select name="order-status" id="status" class="ms-3 me-3 w-auto form-select">
                    <option value="">-- Tất cả --</option>
                </select>

                <button type="submit" name="submit" class="btn btn-dark">Lọc</button>
            </div>
            <div class="card mb-4">
                <p-toast></p-toast>
                <p-confirmDialog></p-confirmDialog>
                <div class="card-body">
                    <p-table #dt [value]="orders" [paginator]="true" [rows]="10"  [globalFilterFields]="['order_ID', 'customer_ID', 'coupon_Code', 'address']"  dataKey="order_ID" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="d-flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" style="width: 200px;"
                                        (input)="handleInput($event, dt)" placeholder="Tìm kiếm" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Mã khách hàng</th>
                                <th>Mã giảm giá</th>
                                <th>Địa chỉ</th>
                                <th>Ngày đặt</th>
                                <th>Khuyến mãi</th>
                                <th>Thành tiền</th>
                                <th>Tình trạng</th>
                                <th>Chi tiết</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{ order.order_ID }}</td>
                                <td>{{ order.customer_ID }}</td>
                                <td>{{ order.coupon_Code }}</td>
                                <td>{{ order.address }}</td>
                                <td>{{ order.datetime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                <td>{{ order.discount_amount | currency:'VND' }}</td>
                                <td>{{ order.total | currency:'VND' }}</td>
                                <td>{{ order.orderStatus }}</td>
                                <td>
                                    <button pButton type="button" class="btn btn-dark" (click)="showDialog(order)">Xem</button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>

<p-dialog header="Chi tiết đơn hàng" [modal]="true" [(visible)]="visible" [style]="{ width: '55rem' }" styleClass="p-fluid">
    <p>Mã đơn hàng: {{ createOrder.order_ID }}</p>
    <p>Ngày đặt hàng: {{ createOrder.datetime | date: 'dd-MM-yyyy HH:mm:ss' }}</p>
    <p>Khách hàng: {{ createOrder.customer_ID }}</p>
    <p>Tổng tiền: {{ createOrder.total | currency:'VND' }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderDetail of createOrder?.detailOrders">
                <td>{{ orderDetail.product_ID }}</td>
                <td  class=" text-truncate" style="max-width: 270px;">{{ orderDetail.productVariation?.product?.name }}</td>
                <td>{{ orderDetail.quantity }}</td>
                <td>{{ orderDetail.unit_Price | currency }}</td>
                <td>{{ (orderDetail?.quantity ?? 0) * (orderDetail?.unit_Price ?? 0) | currency }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end gap-2 mt-4">
        <p-button label="Ok" severity="secondary" (onClick)="visible = false" />
    </div>
</p-dialog>