<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Mã giảm giá</h1>
            <div class="mb-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-dark" (click)="showDialog()">Thêm mã giảm giá</button>
            </div>
            <div class="card mb-4">
                <p-toast></p-toast>
                <p-confirmDialog></p-confirmDialog>
                <div class="card-body">
                    <p-table #dt editMode="row" [value]="coupons" dataKey="coupon_Code" [paginator]="true" [rows]="10"
                        [globalFilterFields]="['coupon_Code', 'couponName', 'discount', 'unit']" [responsiveLayout]="'scroll'">
                        <ng-template pTemplate="caption">
                            <div class="d-flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" style="width: 200px;" (input)="handleInput($event, dt)" placeholder="Tìm kiếm" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%">Mã giảm giá</th>
                                <th style="width:20%">Tên giảm giá</th>
                                <th style="width:10%">Ngày áp dụng</th>
                                <th style="width:10%">Ngày kết thúc</th>
                                <th style="width:10%">Giá trị</th>
                                <th style="width:10%">Đơn vị</th>
                                <th style="width:10%">Trạng thái</th>
                                <th style="width:10%"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-coupon let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="coupon">
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.coupon_Code" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.coupon_Code }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.couponName" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.couponName }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <p-calendar [(ngModel)]="coupon.startDate" required></p-calendar>
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{ coupon.startDate | date }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                <td>
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <p-calendar [(ngModel)]="coupon.expirationDate" required></p-calendar>
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{ coupon.expirationDate | date }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.discount" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.discount }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <p-dropdown
                                          [options]="unitOptions"
                                          [(ngModel)]="coupon.unit"
                                          placeholder="Chọn đơn vị"
                                          required
                                        ></p-dropdown>
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{ coupon.unit }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="coupon.status" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <p-tag [value]="coupon.status ? 'Hoạt động' : 'Đã ngừng' " [severity]="getSeverity(coupon.status)" />
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                            icon="pi pi-pencil" (click)="onRowEditInit(coupon)"
                                            class="p-button-rounded p-button-text">
                                        </button>
                                        <button *ngIf="!editing" pButton pRipple type="button"
                                            icon="pi pi-trash" (click)="deleteSupplier(coupon)"
                                            class="p-button-rounded p-button-text p-button-danger">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" (click)="onRowEditSave(coupon, ri)"
                                            class="p-button-rounded p-button-text p-button-success mr-2">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" (click)="onRowEditCancel(coupon, ri)"
                                            class="p-button-rounded p-button-text p-button-danger">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>

<p-dialog header="Thêm Mã Giảm Giá" [(visible)]="visible" modal="modal" [closable]="false" [responsive]="true" [style]="{width: '400px'}">
    <div class="p-fluid">
      <div class="p-field">
        <label for="couponCode">Mã Giảm Giá</label>
        <input id="couponCode" type="text" pInputText [(ngModel)]="createCoupon.coupon_Code" required />
      </div>
      <div class="p-field">
        <label for="couponName">Tên Mã Giảm Giá</label>
        <input id="couponName" type="text" pInputText [(ngModel)]="createCoupon.couponName" required />
      </div>
      <div class="p-field">
        <label for="startDate">Ngày Áp Dụng</label>
        <input id="startDate" type="date" pInputText [(ngModel)]="createCoupon.startDate" required />
      </div>
      <div class="p-field">
        <label for="endDate">Ngày Kết Thúc</label>
        <input id="endDate" type="date" pInputText [(ngModel)]="createCoupon.expirationDate" required />
      </div>
      <div class="p-field">
        <label for="value">Giá Trị</label>
        <input id="value" type="number" pInputText [(ngModel)]="createCoupon.discount" required />
      </div>
      <div class="p-field">
        <label for="unit">Đơn Vị</label>
        <p-dropdown
          id="unit"
          [options]="unitOptions"
          [(ngModel)]="createCoupon.unit"
          placeholder="Chọn đơn vị"
          required
        ></p-dropdown>
      </div>
      <div class="p-field">
        <label for="status">Trạng Thái</label>
        <p-dropdown [options]="statuses" [(ngModel)]="createCoupon.status" placeholder="Chọn trạng thái"></p-dropdown>
      </div>
    </div>
    <p-footer>
      <button pButton label="Hủy" icon="pi pi-times" (click)="visible=false" class="p-button-text"></button>
      <button pButton label="Lưu" icon="pi pi-check" (click)="saveCoupon()" [disabled]="!createCoupon.coupon_Code || !createCoupon.couponName || !createCoupon.startDate || !createCoupon.expirationDate || !createCoupon.discount || !createCoupon.unit"></button>
    </p-footer>
</p-dialog>