<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Mã giảm giá</h1>
            <div class="mb-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-dark" (click)="showDialog()">Thêm mã giảm giá</button>
            </div>
            <div class="card mb-4">
                <p-toast></p-toast>
                <p-confirmDialog></p-confirmDialog>
                <div class="card-body">
                    <p-table #dt editMode="row" [value]="coupons" dataKey="coupon_Code" [paginator]="true" [rows]="10"
                        [globalFilterFields]="['coupon_Code', 'couponName', 'discount', 'unit']" [responsiveLayout]="'scroll'">
                        <ng-template pTemplate="caption">
                            <div class="d-flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" style="width: 200px;" (input)="handleInput($event, dt)" placeholder="Tìm kiếm" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%">Mã giảm giá</th>
                                <th style="width:20%">Tên giảm giá</th>
                                <th style="width:10%">Ngày áp dụng</th>
                                <th style="width:10%">Ngày kết thúc</th>
                                <th style="width:10%">Giá trị</th>
                                <th style="width:10%">Đơn vị</th>
                                <th style="width:10%">Trạng thái</th>
                                <th style="width:10%"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-coupon let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="coupon">
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.coupon_Code" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.coupon_Code }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.couponName" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.couponName }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <input type="date" class="form-control" [ngModel]="coupon.startDate | date:'yyyy-MM-dd'"
                                        (ngModelChange)="coupon.startDate = $event" />
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{ coupon.startDate | date:'yyyy-MM-dd' }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                <td>
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <input type="date" class="form-control" [ngModel]="coupon.expirationDate | date:'yyyy-MM-dd'"
                                        (ngModelChange)="coupon.expirationDate = $event" />
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{ coupon.expirationDate | date:'yyyy-MM-dd' }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.discount" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.discount }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <p-dropdown
                                          [options]="unitOptions"
                                          [(ngModel)]="coupon.unit"
                                          placeholder="Chọn đơn vị"
                                          required
                                        ></p-dropdown>
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{ coupon.unit }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="coupon.status" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <p-tag [value]="coupon.status ? 'Hoạt động' : 'Đã ngừng' " [severity]="getSeverity(coupon.status)" />
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                            icon="pi pi-pencil" (click)="onRowEditInit(coupon)"
                                            class="p-button-rounded p-button-text">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" (click)="onRowEditSave(coupon, ri)"
                                            class="p-button-rounded p-button-text p-button-success mr-2">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" (click)="onRowEditCancel(coupon, ri)"
                                            class="p-button-rounded p-button-text p-button-danger">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>

<p-dialog header="Thêm Mã Giảm Giá" 
  [(visible)]="visible" 
  [modal]="true" 
  styleClass="p-fluid"
  [responsive]="true" [style]="{width: '40rem'}">
  <form [formGroup]="couponForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="couponCode" class="form-label">Mã Giảm Giá</label>
        <input id="couponCode" class="form-control" type="text" pInputText formControlName="coupon_Code" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="couponName" class="form-label">Tên Mã Giảm Giá</label>
        <input id="couponName" class="form-control" type="text" pInputText formControlName="couponName"/>
      </div>
      <div class="col-md-6 mb-3">
        <label for="value" class="form-label">Giá Trị</label>
        <input id="value" class="form-control" type="number" pInputText formControlName="discount"/>
      </div>
      <div class="col-md-6 mb-3">
        <label for="unit" class="form-label">Đơn Vị</label>
        <p-dropdown
          id="unit"
          [options]="unitOptions"
          formControlName="unit"
          placeholder="Chọn đơn vị"
        ></p-dropdown>
      </div>
      <div class="col-md-6 mb-3">
        <label for="startDate" class="form-label">Ngày Áp Dụng</label>
        <input id="startDate" class="form-control" type="date" pInputText formControlName="startDate"/>
      </div>
      <div class="col-md-6 mb-3">
        <label for="endDate" class="form-label">Ngày Kết Thúc</label>
        <input id="endDate" class="form-control" type="date" pInputText formControlName="expirationDate"/>
      </div>
      <div class="col-md-12">
          <label class="form-check-label me-2" for="status">Trạng thái:</label>
          <input class="form-check-input" type="radio" name="status" [value]="true" formControlName="status"> Hoạt động
          <input class="form-check-input ms-2" type="radio" name="status" [value]="false" formControlName="status"> Ngừng hoạt động
      </div>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-4">
      <p-button label="Hủy" severity="secondary" (click)="visible=false" ></p-button>
      <p-button label="Lưu" (click)="saveCoupon()" [disabled]="this.couponForm.invalid" type="submit"></p-button>
    </div>
  </form>
</p-dialog>