<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Mã giảm giá</h1>
            <div class="mb-3 d-flex flex-row-reverse">
                <button type="button" class="btn btn-dark" (click)="showDialog()">Thêm mã giảm giá</button>
            </div>
            <div class="card mb-4">
                <p-toast></p-toast>
                <p-confirmDialog></p-confirmDialog>
                <div class="card-body">
                    <p-table #dt editMode="row" [value]="coupons" dataKey="coupon_Code" [paginator]="true" [rows]="10"
                        [globalFilterFields]="['coupon_Code', 'couponName', 'discount', 'unit']" [responsiveLayout]="'scroll'">
                        <ng-template pTemplate="caption">
                            <div class="d-flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" style="width: 200px;" (input)="handleInput($event, dt)" placeholder="Tìm kiếm" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%">Mã giảm giá</th>
                                <th style="width:20%">Tên giảm giá</th>
                                <th style="width:10%">Ngày áp dụng</th>
                                <th style="width:10%">Ngày kết thúc</th>
                                <th style="width:10%">Giá trị</th>
                                <th style="width:10%">Đơn vị</th>
                                <th style="width:10%">Trạng thái</th>
                                <th style="width:10%"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-coupon let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="coupon">
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.coupon_Code" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.coupon_Code }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.couponName" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.couponName }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.startDate" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.startDate }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.expirationDate" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.expirationDate }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.discount" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.discount }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="coupon.unit" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ coupon.unit }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="coupon.status" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <p-tag [value]="coupon.status ? 'Hoạt động' : 'Đã ngừng' " [severity]="getSeverity(coupon.status)" />
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                            icon="pi pi-pencil" (click)="onRowEditInit(coupon)"
                                            class="p-button-rounded p-button-text">
                                        </button>
                                        <button *ngIf="!editing" pButton pRipple type="button"
                                            icon="pi pi-trash" (click)="deleteSupplier(coupon)"
                                            class="p-button-rounded p-button-text p-button-danger">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" (click)="onRowEditSave(coupon, ri)"
                                            class="p-button-rounded p-button-text p-button-success mr-2">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" (click)="onRowEditCancel(coupon, ri)"
                                            class="p-button-rounded p-button-text p-button-danger">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </main>
    <app-admin-footer></app-admin-footer>
</div>

<!-- <p-dialog header="Thêm nhà cung cấp" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }" styleClass="p-fluid">
    <form (ngSubmit) = "createNewSupplier()">
        <div class="mb-4">
          <label for="name" class="form-label">Tên nhà cung cấp</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="createSupplier.supplierName" placeholder="Nhập tên" name="name">
        </div>
        <div class="mb-4">
          <label for="address" class="form-label">Địa chỉ</label>
          <textarea class="form-control" id="address" [(ngModel)]="createSupplier.address" placeholder="Nhập mô tả" name="address" rows="3"></textarea>
        </div>
        <div class="mb-4">
            <label for="phoneNumber" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="createSupplier.phoneNumber" placeholder="Nhập số điện thoại" name="phoneNumber">
          </div>
        <div class="mb-4">
            <label class="form-check-label me-2" for="active">Trạng thái:</label>  
            <input class="form-check-input" type="radio" name="active" id="visible" [value]="true" [(ngModel)]="createSupplier.status"> Hoạt động
            <input class="form-check-input ms-2" type="radio" name="active" id="disable" [value]="false" [(ngModel)]="createSupplier.status"> Ngừng bán
          </div>
          <div class="d-flex justify-content-end gap-2 mt-4">
            <p-button label="Hủy" severity="secondary" (onClick)="visible = false" />
            <p-button label="Lưu" (onClick)="visible = false" type="submit" />
        </div>
      </form>
</p-dialog> -->