<div class="container">
    <div class="row" style="min-height: 490px;height: fit-content;">
        <div class="col-12">
            <div id="mainImage" class="border p-2" style="position: relative;">
                <button class="btn_left" (click)="prevImage()">
                    <img src="../../../../assets/images/icons/icons8-back-to-64.png" alt="">
                </button>
                <img id="currentImage" [src]="currentImage" class="img-fluid" alt="Main Image">
                <button class="btn_right"  (click)="nextImage()">
                    <img src="../../../../assets/images/icons/icons8-next-page-64.png" alt="">
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2" *ngFor="let img of images">
            <img [src]="img" class="img-fluid small-img" alt="Thumbnail" (click)="currentImageIndex = images.indexOf(img)">
        </div>
    </div>
</div>
