<section class="mb-3">
  <h1 class="h5 pb-4">DANH MỤC SẢN PHẨM</h1>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let category of categories; let i = index">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          [attr.data-bs-toggle]="(i === 0) ? 'collapse' : 'collapse'"
          [attr.data-bs-target]="'#collapse' + (i + 1)"
          aria-expanded="i === 0"
          [attr.aria-controls]="'collapse' + (i + 1)"
        >
          {{ category.name }} ({{ category.quantity }})
        </button>
      </h2>
      <div
        [attr.id]="'collapse' + (i + 1)"
        class="accordion-collapse collapse"
        [class.show]="i === 0"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
            <li *ngFor="let detail of category.detailsCategory">
              <a href={{detail.link}}>{{ detail.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-3">
  <h1 class="h5 pb-4">LỌC THEO GIÁ</h1>
  <div class="wrapper container mt-5">
    <div class="values _sidebar_range-values">
      <span id="range1">0</span>
      <span> &dash; </span>
      <span id="range2">100</span>
    </div>
    <div class="_sidebar_range-slider-container">
      <div class="_sidebar_range-slider-track"></div>
      <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()" class="form-range _sidebar_range-slider">
      <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()" class="form-range _sidebar_range-slider">
    </div>
  </div>
  
</section>

<section class="mb-3">
  <h1 class="h5 pb-4">LỌC THEO MÀU SẮC</h1>
  <div class="form-check" *ngFor="let color of colors">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      {{color.name}}
    </label>
  </div>
</section>

<section class="mb-3">
  <h1 class="h5 pb-4">LỌC THEO THƯƠNG HIỆU</h1>
</section>

<section class="mb-3">
  <h1 class="h5 pb-4">LỌC THEO SIZE</h1>
</section>
