ul{
    margin-bottom: 0 !important;
}

li{
    list-style-type: circle;
    margin-bottom: .5rem;
}

a{
    text-decoration: none;
    color: black;
}

.custom-sidebar-css{
    border: none;
}

.accordion {
    --bs-accordion-active-color: none !important;
}
