<!-- Toast sẽ hiển thị ở đây trong 1s, mặc định là top-right -->
<p-toast [life]="1000"></p-toast>
<app-header />
<div class="row personal-info-container mb-5 mx-auto">
    <div class="col-lg-3 d-none d-lg-block">
        <app-sidebar-personal-info/>
    </div>
    <div class="d-block d-lg-none">
        <div class="offcanvas offcanvas-start offfcanvas-option" id="demo">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <app-sidebar-personal-info/>
            </div> 
        </div>
        <!-- Button to open the offcanvas sidebar -->
        <button class="btn btn-primary btn-option" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            Tùy chọn
        </button>
    </div>
    <div class="col-lg-9">
        <div class="record-container p-4">
            <p class="record-title fw-bold record-title mb-1">Thay đổi mật khẩu</p>
            <div class="divided-section-top mx-auto"></div>
            <div class="row mt-4">
                <div class="col-md-7 col-infor">
                    <form [formGroup]="changePassword_F" (submit)="changePassword()">
                        
                        <!-- Field: Old password -->
                        <div class="row mb-4">
                            <div class="col-4 d-flex align-items-center">
                                <label for="old-password" class="form-label d-block m-0">Mật khẩu hiện tại</label>
                            </div>
                            <div class="col-8 password-container">
                                <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" id="old-password" formControlName="old_password" (paste)="preventPaste($event)">
                                <a (click)="togglePasswordVisibility()" class="eye-icon-password">
                                    <p>{{PasswordVisible}}</p>
                                </a>
                                <div *ngIf="changePassword_F['controls']['old_password'].dirty && changePassword_F['controls']['old_password'].errors">
                                    <small *ngIf="changePassword_F['controls']['old_password'].errors['required']">Mật khẩu không được bỏ trống!</small>
                                    <small *ngIf="changePassword_F['controls']['old_password'].errors['minlength']">Mật khẩu phải chứa tối thiểu 8 kí tự!</small>
                                    <small *ngIf="changePassword_F['controls']['old_password'].errors['maxlength']">Mật khẩu chỉ chứa tối đa 20 kí tự!</small>
                                    <small *ngIf="changePassword_F['controls']['old_password'].errors['pattern']">Mật khẩu phải chứa chữ hoa, chữ thường và kí tự khác!</small>
                                </div>
                            </div>
                        </div>

                        <!-- Field: New password -->
                        <div class="row mb-4">
                            <div class="col-4 d-flex align-items-center">
                                <label for="new-password" class="form-label d-block m-0">Mật khẩu mới</label>
                            </div>
                            <div class="col-8 password-container">
                                <input [type]="isNewPasswordVisible ? 'text' : 'password'" class="form-control" id="new-password" formControlName="new_password" (paste)="preventPaste($event)">
                                <a (click)="toggleNewPasswordVisibility()" class="eye-icon-password">
                                    <p>{{NewPasswordVisible}}</p>
                                </a>
                                <div *ngIf="changePassword_F['controls']['new_password'].dirty && changePassword_F['controls']['new_password'].errors">
                                    <small *ngIf="changePassword_F['controls']['new_password'].errors['required']">Mật khẩu không được bỏ trống!</small>
                                    <small *ngIf="changePassword_F['controls']['new_password'].errors['minlength']">Mật khẩu phải chứa tối thiểu 8 kí tự!</small>
                                    <small *ngIf="changePassword_F['controls']['new_password'].errors['maxlength']">Mật khẩu chỉ chứa tối đa 20 kí tự!</small>
                                    <small *ngIf="changePassword_F['controls']['new_password'].errors['pattern']">Mật khẩu phải chứa chữ hoa, chữ thường và kí tự khác!</small>
                                </div>
                            </div>
                        </div>

                        <!-- Field: Reenter password -->
                        <div class="row mb-4">
                            <div class="col-4 d-flex align-items-center">
                                <label for="re-new-password" class="form-label d-block m-0">Nhập lại mật khẩu mới</label>
                            </div>
                            <div class="col-8 password-container">
                                <input [type]="isReInputNewPasswordVisible ? 'text' : 'password'" class="form-control" id="re-new-password" formControlName="re_password" (paste)="preventPaste($event)">
                                <a (click)="toggleReInputNewPasswordVisibility()" class="eye-icon-password">
                                    <p>{{ReInputNewPasswordVisible}}</p>
                                </a>
                                <div *ngIf="changePassword_F['controls']['re_password'].dirty && changePassword_F['controls']['re_password'].errors">
                                    <small *ngIf="changePassword_F['controls']['re_password'].errors['required']">Trường này không được bỏ trống!</small>
                                    <small *ngIf="changePassword_F['controls']['re_password'].errors['mustMatch']">Mật khẩu không khớp!</small>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="changePassword_F.invalid || isLoading">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            <span *ngIf="!isLoading">Lưu thay đổi</span>
                        </button>
                    </form>
                </div>
                <div class="col-1 divided-section d-none d-md-block"></div>
                <div class="ms-4 col-md-4 d-flex align-items-center justify-content-center col-avatar">
                    <div class="d-flex align-items-center flex-column">
                        <div class="avatar">
                            <img width="100%" [src]="avatarUrl || '../../../../assets/images/record/avatar.png'" alt="avatar"
                                class="right-hand-side-avatar">
                        </div>
                        <p class="fw-bold mt-4 opacity-75 label-name">Võ Quang Đăng Khoa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
