<app-header />
<div class="row personal-info-container mb-5 mx-auto">
    <div class="col-lg-3 d-none d-lg-block">
        <app-sidebar-personal-info/>
    </div>
    <div class="d-block d-lg-none">
        <div class="offcanvas offcanvas-start offfcanvas-option" id="demo">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <app-sidebar-personal-info/>
            </div> 
        </div>
        <!-- Button to open the offcanvas sidebar -->
        <button class="btn btn-primary btn-option" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            Tùy chọn
        </button>
    </div>
    <div class="col-lg-9">
        <div class="record-container p-4">
            <p class="record-title fw-bold record-title mb-1">Thay đổi mật khẩu</p>
            <div class="divided-section-top mx-auto"></div>
            <div class="row mt-4">
                <div class="col-md-7 col-infor">
                    <form action="">
                        
                        <!-- Field: Old password -->
                        <div class="row mb-4">
                            <div class="col-4 d-flex align-items-center">
                                <label for="old-password" class="form-label d-block m-0">Mật khẩu hiện tại</label>
                            </div>
                            <div class="col-8">
                                <input type="password" class="form-control" id="old-password" name="old-password">
                            </div>
                        </div>

                        <!-- Field: New password -->
                        <div class="row mb-4">
                            <div class="col-4 d-flex align-items-center">
                                <label for="new-password" class="form-label d-block m-0">Mật khẩu mới</label>
                            </div>
                            <div class="col-8">
                                <input type="password" class="form-control" id="new-password" name="new-password">
                            </div>
                        </div>

                        <!-- Field: Reenter password -->
                        <div class="row mb-4">
                            <div class="col-4 d-flex align-items-center">
                                <label for="re-new-password" class="form-label d-block m-0">Nhập lại mật khẩu mới</label>
                            </div>
                            <div class="col-8">
                                <input type="password" class="form-control" id="re-new-password" name="re-new-password">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark w-100 mt-3">Lưu thay đổi</button>
                    </form>
                </div>
                <div class="col-1 divided-section d-none d-md-block"></div>
                <div class="ms-4 col-md-4 d-flex align-items-center justify-content-center col-avatar">
                    <div class="d-flex align-items-center flex-column">
                        <div class="avatar">
                            <img width="100%" src="../../../../assets/images/record/avtar_temp.webp" alt="avatar"
                                class="right-hand-side-avatar">
                        </div>
                        <p class="fw-bold mt-4 opacity-75 label-name">Võ Quang Đăng Khoa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
