<app-header />
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <app-sidebar-shop />
        </div>
        <div class="col-lg-9">
            <div class="row">
                <app-special-item-shop />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <app-item-shop />
                </div>
                <div class="col-md-4">
                    <app-item-shop />
                </div>
                <div class="col-md-4">
                    <app-item-shop />
                </div>
                <div class="col-md-4">
                    <app-item-shop />
                </div>
                <div class="col-md-4">
                    <app-item-shop />
                </div>
                <div class="col-md-4">
                    <app-item-shop />
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer />

