.specialitem-shop{
    width: 100%;
    height: fit-content;
    padding: 1rem 1.5rem;
    display: flex;
    background-color: #ccc;
    align-items: center;
}
.img-specialitem{
    width: 200px;
    margin-right: 1.5rem;
}
.img-specialitem img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.info-specialitem{

}
.info-specialitem .title-info-specialitem{
    font-size: 24px;
    font-weight: 700;
}
.info-specialitem .mota-info-specialitem{

}
.color-info-specialitem{
    display: flex;
}